* {
  box-sizing: border-box;
}

.textbox {
  background-color: #EBECEC;
  width: 80%;
  margin: 5%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  float: left;
  opacity: 0.8;
  justify-content: center;
  font-size: 20px;
  color: #404040;
  max-height: 100%;
}

.sideBySide {
  float: left;
  width: 50%;
  height: 100%;
  padding-top: 10vh;
  justify-content: center;
}

.sideBySideEmpty {
  float: left;
  width: 50%;
  height: 100%;
  padding-top: 10em;
  justify-content: center;
}

#firstPicDiv {
  background-image: url('coverPic.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  height: 100%;
}

#campusPicDiv {
  background-image: url('campusPic.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  height: 100%;
}

#cruPicDiv {
  background-image: url('cruPic.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  height: 100%;
}

.fullScreenShadow {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

.fullScreen {
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
}

a {
  border: none;
  background-color: #FFCF07;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 7px;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

a:hover {
  background-color: #ba9707;
}

h1 {
  text-align: center;
  font-size: 150px;
  font-weight: 200;
  color: #ffffff;
  font-family: 'Garamond', serif;
  width: 100%;
  margin: auto;
  padding-top: 15%;
}

h3 {
  text-align: center;
  font-size: 45px;
  font-weight: 200;
  color: #ffffff;
  font-family: 'Garamond', serif;
  width: 100%;
  height: 50%;
  margin: auto;
  padding: 1em;
}

html, body {
  height: 100%;
  margin: 0%;
}

body {
  background-color: #9C9FA1;
  font-family: Helvetica, sans-serif;
}

img {
  padding: 15px;
  margin: 0%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  max-width: 100%;
  max-height: 100%;
}

footer {
  background-color: #383F43;
  height: 10vh;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .sideBySide {
    width: 100%;
    height: 100vh;
    padding-top: 5vh;
  }

  .sideBySideEmpty {
    width: 0%;
    padding: 0;
  }

  .textbox {
    font-size: 4vw;
  }

  .fullScreen {
    height: 200%;
  }

  h1 {
    font-size: 100px;
  }

  h3 {
    font-size: 30px;
  }
}
